src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" 
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	version="EE-3.7.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<batch:job name="syncUsersBatch">
		<batch:threading-profile poolExhaustedAction="WAIT" />
		<batch:process-records>
			<batch:step name="foreachUserInAGetUserInBStep">
				<enricher source="#[payload == null ? null : payload.Id]" target="#[payload.Id]"
					doc:name="store existing user Id in payload 'Id'">
					<sfdc:query-single config-ref="SalesforceB"
						query="SELECT Id FROM User WHERE Email = '#[payload['Email']]'"
						doc:name="query User in Salesforce Instance B" />
				</enricher>
			</batch:step>
			<batch:step name="foreachUserInAUpsertUserInBStep">

				<batch:commit size="200" doc:name="Batch Commit">
                    <dw:transform-message doc:name="Prepare for Upsert">
                        <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map (
	// remove forbidden fields for upsert
	$ - "type" - "LastModifiedDate"
	// add profile id and unique username
	++ {
		ProfileId 	: p("sfdc.b.profile.id"),
		Username	: $.Username ++ ".target"
	}
)	
]]></dw:set-payload>
                    </dw:transform-message>
                    <logger message="Users to update/create: #[payload]" level="INFO" doc:name="log Users to update/create"/>
                    <sfdc:upsert config-ref="SalesforceB" externalIdFieldName="Id" type="User" doc:name="upsert Users in Salesforce Instance B">
                        <sfdc:objects ref="#[payload]"/>
                    </sfdc:upsert>
                    <logger message="Upsert result: #[payload]" level="INFO" doc:name="log Result"/>
				</batch:commit>
			</batch:step>
		</batch:process-records>
		<batch:on-complete>
			<json:object-to-json-transformer
				doc:name="transform BatchJobInstance to JSON" />
			<logger level="INFO" doc:name="log 'Migration process has finished'"
				message="Migration process has finished: #[payload]" />
		</batch:on-complete>
	</batch:job>
    <flow name="mainFlow" >
        <batch:execute name="syncUsersBatch" doc:name="trigger syncUsersBatch"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="catch Exception and call defaultChoiceExceptionStrategy"/>
    </flow>

</mule>
